<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="." routerLinkActive="active">
      <img id="logo" src="../../assets/images/logo.png">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-book" aria-hidden="true"></i>
          Recipes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!this.authService.isLoggedIn()" routerLink="login" routerLinkActive="active">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!this.authService.isLoggedIn()" routerLink="register" routerLinkActive="active">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="adasdasdas/dasdasdasd/asdasd" routerLinkActive="active">
          <i class="fa fa-bomb" aria-hidden="true"></i>
          Test Error
        </a>
      </li>
      <li *ngIf="this.authService.isLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  *ngIf="this.authService.isLoggedIn()" routerLink="profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>
            <i class="fa fa-user" aria-hidden="true"></i>
            &nbsp;&nbsp;My Profile</a>
          <a class="dropdown-item" *ngIf="this.authService.isLoggedIn()" routerLink="logout" routerLinkActive="active">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            &nbsp;&nbsp;Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
