<nav>
    <a md-button routerLink="." routerLinkActive="active">Home</a>
    <a md-button routerLink="adasdasdas/dasdasdasd/asdasd" routerLinkActive="active">Test error</a>
    <a *ngIf="!this.authService.isLoggedIn()" md-button routerLink="login" routerLinkActive="active">Login</a>
    <a *ngIf="this.authService.isLoggedIn()" md-button routerLink="profile" routerLinkActive="active">Profile</a>
    <a *ngIf="!this.authService.isLoggedIn()" md-button routerLink="register" routerLinkActive="active">Register</a>
    <a *ngIf="this.authService.isLoggedIn()" md-button routerLink="logout" routerLinkActive="active">Logout</a>
</nav>