.card {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    text-align: center;
    padding:15px;
    margin-top: 15px;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 60%;
    object-fit:cover;
    transition: all .25s ease;
    max-height: 180px;
}
.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
}
.card-title > h4 {
    text-align: center;
}
.card-title a {
    color: #000;
    text-decoration: none !important;
}
table {
    width: 100%;
    height: 10%;
}
td {
    height: 5px;
}
.card-content {
    height: 40%;
}
.table td, .table th {
    padding: 0.5px;
    border: none;
}
#like-btn {
    font-size: 18px;
}
#like-btn:active{
    background:red;
}
#like-btn:hover{
    background:red;
}





