<div *ngIf="recipe">
  <p>{{recipe.name}}</p>
  <p>{{recipe.description}}</p>
  <p>{{recipe.author}}</p>
  <p>{{recipe.dateCreated}}</p>
  <!-- add date pipe -->
  <p>{{recipe.dateUpdated}}</p>
  <!-- add date pipe -->
  <p>{{recipe.servings}}</p>
  <p>{{recipe.preparationTime}}</p>
  <p>{{recipe.cookingTime}}</p>
  <div *ngFor="let comment of recipe.comments">
    <app-comment [comment]="comment"></app-comment>
  </div>
  <div *ngIf="authService.isLoggedIn()">
    <app-create-comment [user]="user" (commentSubmitted)="createComment($event)"></app-create-comment>
  </div>
</div>
