<div class="row">
    <div class="col-sm-2">
        <div class="thumbnail">
            <img class="img-fluid user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>{{comment.author.displayName}}</strong>
                <span class="text-muted">commented on: {{comment.dateCreated | dateify}}</span>
            </div>
            <div class="card-body">{{comment.text}}</div>
        </div>
    </div>
</div>
