<div class="jumbotron">
    <br>
    <br>
  <div class="text">
    <h1 class="display-3">Welcome to The Little Secrets</h1>
    <p class="lead">Here you can find many recipes and share your favourites to the World</p>
    <p>Do you love cooking? Or, you have no idea what to cook today? Here is the right place to find the muse! Enjoy it :)</p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">
        <i class="fa fa-book" aria-hidden="true"></i>
        Recipes
      </a>
    </p>
  <div class="text">
</div>
