#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color:black;
    width: 100%;
    text-align: center;
    height: 50px;
}
footer > p > a{
    text-decoration:none;
    color:ghostwhite;
    font-weight: 600;
    text-shadow: #BBBBBB 0 1px 1px;
}
footer > p {
    display: block;
    margin:auto;
    margin-top: 8px;
}
